<div class="left" id="no_left">
    <h2>TASKS TABLE</h2>
   <table class="list" id="storeList">
        <thead><tr>
            <th >serial No.<i id="icon" class="fa fa-sort" onclick="sortBy(0)"></i></th>
            <th >Task name<i  id="icon" class="fa fa-sort" onclick="sortBy(1)"></i></th>
            <th >time<i id="icon" class="fa fa-sort" onclick="sortBy(2)"></i></th>
            <th onclick="sortBy(3)">Action</th>
        </tr></thead>
        <tbody>

        </tbody>
        </table>
</div>