<div class="right-block">
    <!-- <form  autocomplete="off" value="userInput()" onsubmit="onFormSubmit()" onchange="handleChange()"> -->
     <form  autocomplete="off"  onsubmit="onFormSubmit()" >
     <div class="right">
         <h2 class="title1">ADD TO DO LIST</h2>
         <input type="text" id="todo_name">
         <button id="add_todo" >Submit</button>     
     </div>
    </form>
    </div> 
